/* p {
    padding: 10px;
    border-radius: 10px;
    
    background-color: rgba(200, 100, 0, 0.25)

}
*/
body {background-color:thistle;}
.green {
    	color: green;
    	font-weight:700;
    	font-size: 30px;
}

/* h6 {color: powderblue} */