body {
        background-color:thistle;}
        /* font-family: "Times New Roman", Times, serif;
        font-weight:100;
        font-size:30px;} */
.green {
    	color: green;
    	font-weight:700;
    	font-size: 30px;
}

/* h6 {color: powderblue} */